.editormd-fullscreen {
  z-index: 10000;
}

.cm-header-1 {
  font-size: 190%;
}

.cm-header-2 {
  font-size: 175%;
}

.cm-header-3 {
  font-size: 160%;
}

.cm-header-4 {
  font-size: 145%;
}

.cm-header-5 {
  font-size: 130%;
}

.cm-header-6 {
  font-size: 115%;
}
